
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:whitesmoke;
}

/* Here is one of many  CSS rules you will need... */
#one,#two,#three,#four{
    border:5px solid;
    margin: 5px;
    padding:5px;
    width:25%;
    position:fixed;
}

#one{
    top: 8px;
    left: 16px;
    border-color: blue;

}
#two{
    top : 8px;
    right: 16px;
    border-color: orange;
}
#three{
    bottom:8px;
    left:16px;
    border-color: magenta;
}
#four{
    bottom:8px;
    right:16px;
    border-color:black;
}

a{
    position:fixed;
    right:50%;
    background-color: aqua;
}
